@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@300..700&display=swap');


h1 {
    font-family: "Lemonada", cursive;
    line-height: 200%;
    font-size: 40px;
    color: white;
}

h2 {
    font-family: "Lemonada", cursive;
    line-height: 100%;
    font-size: 50px;
    color: #00A100;
}

.container {
    width: 100vw;
    height: 100vh;
    /* width: 100%;
    height: 100%; */
    overflow: hidden;
    justify-content: center;
    align-items: center;
    display: flex;
    background: #E23737;
    position: relative;
    padding-top: 6.25rem;
    padding-bottom: 6.25rem;
}

.contents {
    display: flex;
    gap: 60px;
    width: 83.33%;
    flex-direction: column;
    position: relative;
    z-index: 90;
}

.title {
    display: flex;
    justify-content: space-evenly;
    gap: 16.94%;
}

.title>:first-child {
    width: 555px;
    
}

.title>:last-child {
    display: block;
    width: 774px;
}

.form_box {
    background: white;
    border-radius: 50px;
    padding: 6.25% 5%;
    display: flex;
    flex-direction: column;
    gap: 3.125rem;
    padding-right: 18rem;
}



.input_wrap {
    display: flex;
    gap: 40px;
}

.input_wrap input {
    all: unset;
    border-bottom: 1px solid #00A100;
    flex-grow: 1;
    font-size: 24px;
    color: #00A100;
    font-family: "Lemonada", cursive;
    font-weight: lighter;
    text-align: center;
}

.input_wrap input::placeholder {
    color: #00A100;
}


/* -------image------- */


.absolute{
  position: absolute;
}
.ribbon1 {
    z-index: 100;
    bottom: 0rem; left: -0.9rem;
    overflow: hidden;
    width: 33.59131rem;
}
.ribbon2 {
    z-index: 50;
    left: 38.5vw;
    top: -3.3vh;
    overflow: hidden;
    width: 33.59131rem;
}
.img1{
  z-index: 100;
  right: 1.9vw;
  bottom: 20.3vh;
  overflow: hidden;
  width: 11.5vw;
  border-radius: 31.25rem;
  box-shadow: 0px 10px 4px 0px rgba(0, 0, 0, 0.25);
}
.img2{
    z-index: 99;
    right: -5.1vw;
    bottom: -12vh;
    overflow: hidden;
    width: 12vw;
    border-radius: 12.5rem;
    box-shadow: 0px 10px 4px 0px rgba(0, 0, 0, 0.25);
}
.img3{
    z-index: 100;
    left: -4.1vw;
    top: 19vh;
    overflow: hidden;
    width: 7.5vw;
    border-radius: 31.25rem;
    box-shadow: 0px 10px 4px 0px rgba(0, 0, 0, 0.25);
}
.form_box button {
  font-family: "Lemonada", cursive;
  color: #FFF;
  font-size: 1.77119rem;
  font-weight: 700;
  line-height: 100%;
  border-radius: 17.71175rem;
  border: 6px solid #FFF;
  background: #00A100;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.30);
  
  display: flex;
  flex-direction: column;
  width: 10rem;
  height: 10rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  position: absolute;
  right: 8vw;
  bottom: -4vh;
  z-index: 999;
}


/* ----------Particle codepen 참고----------*/
canvas{ 
    display: block;
    vertical-align: bottom;
  }
  /* ---- particles.js container ---- */ 
  #particles-js{ 
    position:absolute; 
    top:0;
    left:0;
    width: 100%; 
    height: 100%; 
    z-index:0;
  }
  .text{
    color:#fff;
    font-size:7vw;
    position:inline-block;
    z-index:1;
    text-align:center;
    cursor:default;
    pointer-events:none;
  }
  
  a:hover, a:visited, a:link, a:active{
    text-decoration: none;
    color: rgba(255,255,255,0.8);
  }