@import url('https://fonts.googleapis.com/css2?family=Jua&family=Lemonada:wght@300..700&display=swap');

* {
    font-family: "Jua", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    margin: 0 auto;
    /* 화면 중앙 정렬 */
    min-width: 320px;
    max-width: 550px;
    width: 100%;
    /* 화면 크기를 기준으로 조정 */
    height: 100vh;
    /* 전체 화면 높이 */
}

.hidden {
    display: none;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container img {
    position: relative;
    z-index: -999;
}

h1 {
    color: #583f3f;
    position: absolute;
    top: 14.6vw;
    font-size: 6.8vw;
}

.character {
    position: absolute;
    top: 30vw;
    width: 36vw;
}

h2 {
    color: #583f3f;
    position: absolute;
    background: url(../source/cloverFarm/bubble1.png) no-repeat;
    background-size: cover;
    font-size: 3.7vw;
    line-height: 7vw;
    width: 28vw;
    display: flex;
    justify-content: center;
    top: 40vw;
    right: 3vw;
}

#cloverCountDetails {
    position: absolute;
    top: 51vw;
    right: 5.7vw;
    display: flex;
    flex-direction: column;
    font-size: 3vw;
    line-height: 3.5vw;
    color: #583f3f;
}

#cloverCountDetails::after {
    content: '';
    position: absolute;
    background: url(../source/cloverFarm/bubble3.png) no-repeat;
    width: 28vw;
    height: 32vw;
    top: -2.6vw;
    left: -2.5vw;
    z-index: -1;
    background-size: contain;
}

.speech-bubble {
    position: absolute;
    top: 29vw;
    left: 6vw;
    display: flex;
    flex-direction: column;
    font-size: 3vw;
    line-height: 3.5vw;
    color: #583f3f;
}

.speech-bubble::after {
    content: '';
    position: absolute;
    background: url(../source/cloverFarm/bubble2.png) no-repeat;
    width: 28vw;
    height: 32vw;
    top: -2.6vw;
    left: -2.5vw;
    z-index: -1;
    background-size: contain;
}

#cloverCountDetails> {
    position: relative;
    z-index: 1;
}

button {
    position: absolute;
    background: none;
    border: none;
    /* border: 1px solid red; */
}

button img {
    width: 100%;
    height: 100%;
    pointer-events: none;
    /* 이미지가 클릭 이벤트를 차단하지 않도록 설정!!! 반드시!! */
}

.cloverbtn {
    transition: transform 0.2s ease-in-out;
}

.cloverbtn:hover {
    transform: scale(1.5)
}

.babyclover {
    z-index: 2;
}

.babyclover img {
    width: 8vw;
}

.babyclover1 {
    left: 19vw;
    bottom: 19vw;
}

.babyclover2 {
    left: 12vw;
    top: 113vw;
}

.babyclover3 {
    left: 24vw;
    top: 130vw;
}

.babyclover4 {
    left: 24vw;
    top: 140vw;
}

.babyclover5 {
    right: 12vw;
    top: 113vw;
}

.bigclover {
    z-index: 2;
}

.bigclover img {
    width: 12vw;
}

.bigclover1 {
    top: 130vw;
    right: 24vw;
}

.bigclover2 {
    top: 140vw;
    right: 30vw;
}

.bigclover3 {
    top: 140vw;
    right: 30vw;
}

.bigclover4 {
    top: 120vw;
    left: 20vw;
}

.bigclover5 {
    top: 100vw;
    left: 30vw;
}

.bigclover6 {
    bottom: 40vw;
    left: 30vw;
}

.bigclover6 {
    bottom: 60vw;
    left: 28vw;
}

.bigclover7 {
    bottom: 49vw;
    right: 30vw;
}

.bigclover8 {
    bottom: 63vw;
    left: 9vw;
}

.bigclover9 {
    top: 120vw;
    left: 70vw;
}

.bigclover10 {
    bottom: 28vw;
    right: 17vw;
}

.bigclover11 {
    top: 128vw;
    left: 17vw;
}

.heart {
    z-index: 1;
}

.heart.small {
    width: 6vw;
}

.heart.big {
    width: 8vw;
}

.heart1 {
    top: 134vw;
    left: 28vw;
}

.heart2 {
    top: 126vw;
    left: 20vw;
}

.heart3 {
    top: 142vw;
    left: 60vw;
}

.heart4 {
    top: 124vw;
    left: 70vw;
}

.info {
    color: #ffd200;
    font-size: 6vw;
    -webkit-text-stroke: 1px #4d301d;
    text-shadow: 1px 0px #4d301d, 0px 2px #4d301d, -1px 0px #4d301d, 0px -1px #4d301d;
    position: absolute;
}
#total, #remain{
    font-size: 10vw;
}
.totallnfo{
    top: 63vw;
    right: 5vw;
}
.remainInfo{
    top: 84vw;
}



@media (min-width: 551px) {
    body {
        width: 550px;
        margin: 0 auto;
    }

    h1 {
        top: 80px;
        font-size: 38px;
    }

    .character {
        top: 165px;
        width: 200px;
    }

    h2 {
        top: 220px;
        right: 20px;
        font-size: 17px;
        line-height: 36px;
        width: 148px;
    }

    .info {
        font-size: 33px;
    }
    
    #total, #remain {
        font-size: 49px;
    }
    
    .totallnfo {
        top: 340px;
        right: 26px; 
    }
    
    .remainInfo {
        top: 464px;
    }    
    

    #cloverCountDetails {
        top: 274px;
        right: 30px;
        font-size: 16px;
        line-height: 20px;
    }

    #cloverCountDetails::after {
        width: 150px;
        height: 170px;
        top: -11px;
        left: -20px;
        background-size: contain;
    }

    .speech-bubble {
        top: 164px;
        left: 21px;
        font-size: 16px;
        line-height: 18px;
    }

    .speech-bubble::after {
        width: 160px;
        top: -20px;
        left: -12px;
    }

    button img {
        width: 100%;
        height: auto;
    }
    

    .babyclover img {
        width: 40px;
    }

    .bigclover img {
        width: 60px;
    }

    .babyclover1 {
        left: 70px;
        bottom: 124px;
    }

    .babyclover2 {
        left: 40px;
        top: 770px;
    }

    .babyclover3 {
        left: 80px;
        top: 640px;
    }

    .babyclover4 {
        left: 160px;
        top: 740px;
    }

    .babyclover5 {
        right: 40px;
        top: 559px;
    }

    .bigclover1 {
        top: 610px;
        right: 80px;
    }

    .bigclover2 {
        top: 580px;
        right: 100px;
    }

    .bigclover3 {
        top: 650px;
        right: 100px;
    }

    .bigclover4 {
        top: 710px;
        left: 120px;
    }

    .bigclover5 {
        top: 840px;
        left: 100px;
    }

    .bigclover6 {
        bottom: 100px;
        left: 100px;
    }

    .bigclover7 {
        bottom: 120px;
        right: 100px;
    }

    .bigclover8 {
        bottom: 150px;
        left: 30px;
    }

    .bigclover9 {
        top: 600px;
        left: 300px;
    }

    .bigclover10 {
        bottom: 220px;
        right: 40px;
    }

    .bigclover11 {
        top: 620px;
        left: 60px;
    }

    .heart.small {
        width: 30px;
    }

    .heart.big {
        width: 40px;
    }

    .heart1 {
        top: 738px;
        left: 154px;
    }

    .heart2 {
        top: 850px;
        left: 108px;
    }

    .heart3 {
        top: 612px;
        left: 314px;
    }

    .heart4 {
        top: 622px;
        left: 420px;
    }
}



#cloverCountDetails.no-after::after {
    display: none; /* 자식 요소가 없을 때 이미지를 숨김 */
}


/* 모달 스타일 */
#modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    visibility: hidden; /* 기본적으로 숨김 */
    opacity: 0; /* 투명 */
    transition: opacity 0.3s ease;
}

#modal.show {
    visibility: visible;
    opacity: 1; /* 보이도록 변경 */
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.modal-content p {
    margin-bottom: 20px;
}

.modal-content button {
    background-color: #E23737;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.modal-content button:hover {
    background-color: #C02020;
}